

body.login{
    background: url("../img/loginbg.jpeg") no-repeat;
    background-size: 100%;
}

.login-area{
    background-color: white;
    padding: 10px;
    border:1px solid white;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 30%;
    top: 20%;
}

.jumbotron{
    margin-top: 20px;
    background: url("../img/index.jpg") no-repeat;
    background-size: 100%;
    width: 800px;
    height: 200px;
}

.recommend-area{
    background-color: rgb(247, 246, 242);
    width: 800px;
}

/* 图书列表相关样式 */
.book-item{
    margin: 20px;
    height: 150px;
}

.book-item-cover{
    background-color: cadetblue;
    width: 100px;
    height: 120px;
}

.book-item-content{
    margin-left: 10px;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
}

/* 图书信息相关样式 */
.book-info-area{
    margin: 20px;
    height: 220px;
}

.book-info-cover{
    background-color: cadetblue;
    width: 180px;
    height: 196px;
}

.book-info-operator>button{
    margin-left: 20px;
}

.chapter-item>a:hover{
    text-decoration: underline;
    color: firebrick;
}

.site-inline{font-size: 0;}
.site-tree, .site-content{display: inline-block;  *display:inline; *zoom:1; vertical-align: top; font-size: 14px;}
.site-tree{width: 220px;  padding: 5px 0 20px;float: left;}
.site-content{width: 800px;  padding: 20px 0 10px 20px;float: right;}

.site-tree{border-right: 1px solid #eee; }
.site-tree .layui-tree{line-height: 32px;}
.site-tree .layui-tree li i{position: relative; font-size: 22px; color: #000}
.site-tree .layui-tree li a cite{padding: 0 8px;}
.site-tree .layui-tree .site-tree-noicon a cite{padding-left: 15px;}
.site-tree .layui-tree li a em{font-size: 12px; color: #bbb; padding-right: 5px; font-style: normal;}
.site-tree .layui-tree li h2{line-height: 36px; border-left: 5px solid #009E94; margin: 15px 0 5px; padding: 0 10px; background-color: #f2f2f2;}
.site-tree .layui-tree li ul{margin-left: 27px; line-height: 28px;}
.site-tree .layui-tree li ul a,
.site-tree .layui-tree li ul a i{color: #777;}
.site-tree .layui-tree li ul a:hover{color: #333;}
.site-tree .layui-tree li ul li{margin-left: 25px; overflow: visible; list-style-type: disc; /*list-style-position: inside;*/}
.site-tree .layui-tree li ul li cite,
.site-tree .layui-tree .site-tree-noicon ul li cite{padding-left: 0;}

.site-tree .layui-tree .layui-this a{color: #01AAED;}
.site-tree .layui-tree .layui-this .layui-icon{color: #01AAED;}