<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.graduatedesign.dao.BookDao">

    <resultMap id="baseResultMap" type="com.jl.graduatedesign.entity.Book">
        <result column="book_category_id"  property="bookCategoryId" />
        <result column="book_id"  property="bookId" />
        <result column="favorites_num"  property="favoritesNum" />
        <result column="evaluation_num"  property="evaluationNum" />
        <result column="recommend_num"  property="recommendNum" />
    </resultMap>


    <select id="getBookById" resultMap="baseResultMap">
        select * from t_book where book_id = #{bookId}
    </select>

    <select id="countBook" resultType="java.lang.Integer">
        select count(*) from t_book
    </select>
    
    <select id="getPagedBookListByCondition" resultMap="baseResultMap" parameterType="com.jl.graduatedesign.vo.PagedBookSearchCondition">
        select * from t_book where 1=1 and
        <if test="categoryId != 0">
           book_category_id = #{categoryId} and
        </if>
        title like '%${keyword}%'
        <if test="sortOrder == 1">
          order by favorites_num desc
        </if>
        <if test="sortOrder == 2">
            order by recommend_num desc
        </if>
        limit ${(pageIndex-1)*pageSize},${pageSize}
    </select>

    <select id="countBookInAdmin" resultType="java.lang.Integer" parameterType="com.jl.graduatedesign.vo.PagedBookSearchCondition">
        select count(*) from t_book where 1=1 and
        <if test="categoryId != null">
            book_category_id = #{categoryId} and
        </if>
        <if test="publisher != null and publisher != ''">
            publisher like '%${publisher}%' and
        </if>
        <if test="title != null and title != ''">
            title like '%${title}%' and
        </if>
        <if test="author != null and author != ''">
            author like '%${author}%' and
        </if> 1=1
    </select>

    <select id="getPagedBookListInAdmin" resultMap="baseResultMap" parameterType="com.jl.graduatedesign.vo.PagedBookSearchCondition">
        select * from t_book where 1=1 and
        <if test="categoryId != null">
            book_category_id = #{categoryId} and
        </if>
        <if test="publisher != null and publisher != ''">
            publisher like '%${publisher}%' and
        </if>
        <if test="title != null and title != ''">
            title like '%${title}%' and
        </if>
        <if test="author != null and author != ''">
            author like '%${author}%' and
        </if> 1=1
        limit ${(pageIndex-1)*pageSize},${pageSize}
    </select>

    <select id="getPagedHotBookList" resultMap="baseResultMap">
        select * from t_book order by (
            recommend_num*0.05+favorites_num*0.25+evaluation_num*0.7
        ) desc
        limit ${(pageIndex-1)*pageSize},${pageSize}
    </select>

    <select id="getPagedBookListFromFavorites" resultMap="baseResultMap">
        select * from t_book b,t_book_favorites_relationship f
        where f.favorites_id = #{favoritesId} and f.book_id = b.book_id
        limit ${(pageIndex-1)*pageSize},${pageSize}
    </select>

    <select id="countBookByCondition" resultType="java.lang.Integer" parameterType="com.jl.graduatedesign.vo.PagedBookSearchCondition">
        select count(*) from t_book where 1=1 and
        <if test="categoryId != 0">
            book_category_id = #{categoryId} and
        </if>
        title like '%${keyword}%'
    </select>

    <select id="countFavoritesBooks" resultType="java.lang.Integer">
        select count(*) from t_book b,t_book_favorites_relationship f
        where f.favorites_id = #{favoritesId} and f.book_id = b.book_id
    </select>

    <update id="updateBook" parameterType="com.jl.graduatedesign.entity.Book">
        update t_book
        <set>
            <if test="bookCategoryId != null">book_category_id=#{bookCategoryId},</if>
            <if test="title != null">title=#{title},</if>
            <if test="desc != null">`desc`=#{desc},</if>
            <if test="cover != null">cover=#{cover},</if>
            <if test="author != null">author=#{author},</if>
            <if test="publisher != null">publisher=#{publisher},</if>
            <if test="pubdate != null">pubdate=#{pubdate},</if>
            <if test="favoritesNum != null">favorites_num=#{favoritesNum},</if>
            <if test="evaluationNum != null">evaluation_num=#{evaluationNum},</if>
            <if test="recommendNum != null">recommend_num=#{recommendNum}</if>
        </set>
        where book_id=#{bookId}
    </update>

    <delete id="deleteBookById">
      delete from t_book where book_id = #{book_id}
    </delete>

    <insert id="insertBook" parameterType="com.jl.graduatedesign.entity.Book">
        insert into t_book (title,author,book_category_id,publisher,pubdate,cover)
        values (#{title},#{author},#{bookCategoryId},#{publisher},#{pubdate},#{cover})
    </insert>
</mapper>