<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jl.graduatedesign.dao.FavoritesDao">

    <resultMap id="baseResultMap" type="com.jl.graduatedesign.entity.Favorites">
        <result column="favorites_id"  property="favoritesId" />
        <result column="book_num"  property="bookNum" />
        <result column="user_id"  property="userId" />
    </resultMap>

    <select id="getFavoritesListByUserId" resultMap="baseResultMap">
        select * from t_favorites where user_id = #{userId}
    </select>
</mapper>